extends layout

block content
  h1=title
  h2=today_date
  p This updates daily and its info can be accessed via NASA's #[a(href='https://api.nasa.gov') APIs].
  img(src=picture_url)
  h3 Image Explanation
  p #{explanation}
  p ~
  p Site created by #[a(href='https://tamjazad.github.io') Tamjeed Azad] using Express.js and Pug.js.
  a(href='https://apod.nasa.gov/apod/astropix.html') NASA's Original APOD Site
